# Example environment variables for frontend
# Copy this file to .env and fill in your actual values

# Vite environment variables (must start with VITE_)
VITE_WALLETCONNECT_PROJECT_ID=1791972b9beafffa2371f595866742ab
# VITE_ENABLE_TESTNETS=true

# API Keys (if needed)
# VITE_ALCHEMY_API_KEY=your_alchemy_api_key
# VITE_INFURA_API_KEY=your_infura_api_key

# Contract addresses (these can be public)
VITE_CONTRACT_ADDRESS=0xE953c7658e3793d8E86A202d5eC039a1832fBdB5

# RPC URLs (these can be public)
VITE_LISK_Lisk_RPC=https://rpc.Lisk-api.lisk.com


    VITE_PINATA_API_KEY=84295a39e7ffd98a5794
    VITE_PINATA_SECRET_KEY=54dcb72d240319daf724c0e789638faee8a77e0ba14cb912f5d0c0b5d1bbe4dc
    VITE_PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiI2YjRhMDIyMy1kMzJjLTQ2NWYtYmE1MC1kOGFkMTI1NzAxOWUiLCJlbWFpbCI6ImlzYWgxNWRhdWRhQGdtYWlsLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6IkZSQTEifSx7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6Ik5ZQzEifV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiI4NDI5NWEzOWU3ZmZkOThhNTc5NCIsInNjb3BlZEtleVNlY3JldCI6IjU0ZGNiNzJkMjQwMzE5ZGFmNzI0YzBlNzg5NjM4ZmFlZThhNzdlMGJhMTRjYjkxMmY1ZDBjMGI1ZDFiYmU0ZGMiLCJleHAiOjE3ODk3MTU1Mzl9._0ln8tcNqyvqq2mdsaCBlE7o2QS6qKtI6MlOniS8Xkw
